$color1: #d7d3c8 !default; // darkest
$color2: #261e17 !default; // lightest
$color3: #645137 !default; // lighter
$color4: #d46f26 !default; // vibrant
$color5: #000000 !default; // white
$color6: #20bfa5 !default; // error red
$color7: #864265 !default; // succ green
$color8: #ffffff !default; // black
